<header th:replace="fragments/header :: menuSuperior">
	<div>
		header
	</div>
</header>
<div class="container my-5">
	<br>
	<h3>Atualizar Produto</h3>
	<div class="card">
		<div class="card-body">
			<div class="col-md-8">
				<form action="#" th:action="@{/grupo4/produtos/id/{id}(id=${aluno.id})}" th:object="${produto}"
					method="post">
					<div class="row">
						<div class="form-group col-md-4">
							<label for="cpf" class="col-form-label">CPF</label> <input type="text" th:field="*{cpf}"
								class="form-control" id="cpf" placeholder="cpf">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label for="nome" class="col-form-label">Nome</label> <input type="text" th:field="*{nome}"
								class="form-control" id="nome" placeholder="Nome">
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="categoria" class="col-form-label">Categoria</label> <input type="text"
						th:field="*{categoria}" class="form-control" id="categoria" placeholder="Categoria">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="preco" class="col-form-label">Preço</label> <input type="text" th:field="*{preco}"
						class="form-control" id="preco" placeholder="preco">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="qntidadedeitens" class="col-form-label">Quantidade de Itens</label> <input type="text"
						th:field="*{qnidadedeitens}" class="form-control" id="nome" placeholder="Quantidade de Itens">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="tamanho" class="col-form-label">Tamanho</label> <input type="text" th:field="*{tamanho}"
						class="form-control" id="tamanho" placeholder="tamanho">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-8">
				<label for="descricao" class="col-form-label">Descrição</label> <input type="text"
					th:field="*{descricao}" class="form-control" id="descricao" placeholder="descricao">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-8">
				<label for="cor" class="col-form-label">Cor</label> <input type="text" th:field="*{cor}"
					class="form-control" id="cor" placeholder="cor">
			</div>
		</div>
	</div>
	<div class="form-group col-md-8">
		<input type="submit" class="btn btn-primary" value="Atualizar Produto"> <input type="button"
			class="btn btn-primary" value="Consultar Produto" onclick="consulta();">
	</div>
</div>
<h6 th:text="${message}" class="text-danger"></h6>